<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Google Web Fonts -->

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css"/>
</head>
<body>


<div class="item-content">
    <div class="item-content">
        <div class="item-inner">
            <div class="item-title label">文件</div>
            <div class="item-input">
                <input type="file" id="img-file"/>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="row">
            <div class="col-33">
                <a href="#" class="button button-big button-fill button-success" id="submit">提交</a>
            </div>
        </div>
    </div>
</div>

<div class="item-content">
    <div class="item-content">
        <div class="item-inner">
            <div class="item-title label">excel文件</div>
            <div class="item-input">
                <input type="file" id="excel"/>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="row">
            <div class="col-33">
                <a href="#" class="button button-big button-fill button-success" id="extract">提交</a>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script type="text/javascript" src="/js/eeeee.js" charset="utf-8"></script>


</body>
</html>