<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


    错误信息：<h4>th:text="${msg}"</h4>
    <p>账号：<input type="text" name="username" id="userName" value="胡佳林"/></p>

    <p>密码：<input type="text" name="password" id="password" value="123456"/></p>

    <p><input type="button" id="submit" value="登录"/></p>




<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

<script type="application/javascript" src="./js/login.js" charset="utf-8"></script>
</body>
</html>