<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<label for="personName">用户名</label><input type="text" id="personName" name="personName"/>
<label for="personSex">性别</label><input type="text" id="personSex" name="personSex"/>
<input type="text" id="personAge" name="personAge"/>
<input type="text" id="personMarriage" name="personMarriage"/>
<input type="text" id="personBirthplace" name="personBirthplace"/>
<input type="text" id="personNation" name="personNation"/>
<input type="text" id="personCareer" name="personCareer"/>
<input type="text" id="personWorkplace" name="personWorkplace"/>
<input type="text" id="personHome" name="personHome"/>
<input type="text" id="personSpeak" name="personSpeak"/>

<button name="submit" id="submit">录入</button>


<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

<script type="application/javascript" src="./js/personInfo.js" charset="utf-8"></script>


</body>
</html>