<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>上传</title>
</head>
<body>
<form action="/upload" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>请上传图片</td>
            <td><input type="file" name="image"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="注册图片"/></td>
        </tr>

        <tr>
            <td>
                <a href="/download/img?personId=2c9340e766a5f2d50166a5f353d30000">
                    下载图片
                </a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>